<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 text-titulo">
        <h4>Selecciona una puerta para ver su maravilloso contenido</h4>
      </div>
    </div>
    <div class="row justify-content-md-center div-doors">
      <div class="col-4">
        <a class="" (click)="clickDoor(1)">
            <img class="img-door" src="assets/img/door.png">
          </a>
        <p class="label-door">Puerta A</p>
      </div>
      <div class="col-4">
        <a class="" (click)="clickDoor(2)">
            <img class="img-door" src="assets/img/door.png">
          </a>
          <p class="label-door">Puerta B</p>
      </div>
      <div class="col-4">
        <a class="" (click)="clickDoor(3)">
            <img class="img-door" src="assets/img/door.png">
        </a>
        <p class="label-door">Puerta C</p>
      </div>
    </div>
  </div>