.text-titulo{
    margin-top: 15vh;
    text-align: center;
}

.div-doors{
    margin-top: 100px;
}

.img-door{
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label-door{
    margin-top: 20px;
    text-align: center;
}


