<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 text-titulo">
        <h1>Puerta 3</h1>
        <br>
        <h2>youtube usa un algoritmo de pesca, mostrando opciones para ver preferencias y en base a esos datos va formando un perfil para el usuario</h2>
        <br>
        <p>vamos a hacer un pequeño ejercicio en un navegador sin historial, para ver que nos recomienda en base a las deciciones que tomemos</p>
        <br>
      </div>
      <div class="col-1 text-titulo">
        <a href="/" rel="noopener noreferrer">
          <img src="assets/img/f1.png" width="100%" height="auto">
        </a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-6">
        <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
          <img src="assets/img/youtube.png" alt="" width="100%">
        </a>
      </div>
    </div>
  </div>