<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 text-titulo">
        <h4>Decifre los sellos</h4>
      </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row  box-upload">
                <div class="col-12">
                    <p class="text-center">Sello a decifrar</p>
                </div>
                <div class="col-12">
                    <img class="img-upload" src="assets/img/upload.png">
                </div>
                <div class="col-12">
                    <img class="img-upload" src="assets/img/upload.png">
                </div>
                <div class="col-12">
                    <img class="img-upload" src="assets/img/upload.png">
                </div>
                <div class="col-12">
                    <img class="img-upload" src="assets/img/upload.png">
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row box-sellos">
                <div class="col-3">

                    <div class="row">
                        <a class="" (click)="clickReturn(1)">
                            <img class="img-return" src="assets/img/return.png">
                        </a>
                        <a class="">
                            <img class="img-spark" src="assets/img/spark2.png">
                        </a>
                        <a class="" (click)="clickAdvance(1)">
                            <img class="img-return2" src="assets/img/return.png">
                        </a>
                    </div>
                </div>









                  <div class="col-3">
                    <a class="" (click)="clickDoor(1)">
                        <img class="img-spark" src="assets/img/spark2.png">
                      </a>
                  </div>
                  <div class="col-3">
                    <a class="" (click)="clickDoor(2)">
                        <img class="img-spark" src="assets/img/spark2.png">
                      </a>
                  </div>
                  <div class="col-3">
                    <a class="" (click)="clickDoor(3)">
                        <img class="img-spark" src="assets/img/spark2.png">
                    </a>
                  </div>
            </div>
        </div>
    </div>
  </div>