<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 text-titulo">
        <h4>Puerta A</h4>
        <p>Felicidades D: !! Hemos comprobado que eres un humano y puedes ver el contenido de esta puerta</p>
      </div>
    </div>
    <div class="row justify-content-md-center div-doors">
      <div class="col-6">
        <img class="img-door" src="assets/img/robot-2.gif">
      </div>
      <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dKjCWfuvYxQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>